
body{
  background-color: #ebe5ef;
}
/* Sidebar Styling */
/* Sidebar Styling */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;  /* Initially off-screen */
  height: 100%;
  width: 250px;
  background-color: rgb(59, 30, 84);
  color: white;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar.open {
  left: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-header h2 {
  margin: 0;
  color: #D4BEE4;
  font-size: 1.5rem;
  font-weight: 600;
}

.sidebar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-links li {
  width: 100%;
  margin-bottom: 20px; /* Increased space between items */
}

.sidebar-links li a {
  text-decoration: none;
  color: #D4BEE4;
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  padding: 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}

.sidebar-links li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}

.sidebar-links li a i {
  margin-right: 10px; /* Space between icon and text */
  font-size: 1.2rem;
}

.chart-container {
  padding: 10px;
  align-items: center;
  margin-top: 20px;
}

canvas {
  max-width: 100%;
  height: auto;
  width: 45%;
  padding: 10px;
}

#roomUsagePieChart {
  width: 50%; 
  max-width: 400px; 
  margin: auto;
}

#roomBookingsBarChart {
  width: 80%; 
  max-width: 700px; 
  margin: auto;
}

.main {
  text-align: center;
  color: #3B1E54;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;    
}

h2 {
  text-align: center;
  color: #3B1E54;
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;

}

/* Tables Styling */
.table {
  width: 70%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #9B7EBD;
  margin: 0 auto;
}

.table th, 
.table td {
  border: 1px solid #9B7EBD;
  padding: 8px;
}

.table th {
  background-color: #9B7EBD;
  font-weight: bold;
  color: #000000;
}

.table tbody tr:nth-child(even) {
  background-color: #D4BEE4;
}

.table tbody tr:nth-child(odd) {
  background-color: #dad1e0;
}

.table tbody tr:hover {
  background-color: #EEEEEE;
}

.table .no-data {
  text-align: center;
  color: #3B1E54;
}
